body{
    background-image: url(k4.jpg) !important;
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
a{
    color:black;

}
.btn-outline-success {
    color: #1d2124;
    border-color: #212529;
}
a:hover {
    color: rgb(250, 250, 249);
}
.jumbotron {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    
}
h1 {
   font-size: 2.5rem;
   font-family: 'Bangers', cursive;

}
.quick:hover{
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);

}
.quick{
  background-image: linear-gradient(315deg,#fceabb,#f8b500);
  font-size: large;
  border-radius: 5px;
  transition: 0.5s ease;
}
h2{
  margin-left: 25px;
}
.flex-column{
  margin-left: 50px;
}
ul {
  list-style-type: disc;
  font-family: 'Montserrat';
}
ul.nav{
  list-style-type: disc;
}
a.top{
  color: cornsilk;
}
a.top:hover{
  color: rgb(5, 5, 5);
}
.card:hover{
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card{
  transition: 0.5s ease;
  background-image: linear-gradient(#00d2ff,#928dab);
}